@tailwind base;
@tailwind components;
@tailwind utilities;

.score-input {
  width: 40px; /* Adjust width to fit within the table without disrupting layout */
  border: 1px solid #ddd;
  padding: 3px;
  text-align: center;
  margin-right: 4px;
  border-radius: 4px;
}